<html>
  <head><title>JSONを読み込む例</title></head>
  <body>

    <!--乗車駅・降車駅選択<br>
    <form>
      <input type=text name=c value="Example: Pallet Town" >
      <input type=text name=d value="Example: Viridian City" >
      <input type=submit>
    </form>


    <ul>
      <li> from:  {{.A}} </li>
      <li> to:  {{.B}} </li>

    </ul>-->

    路線：
    <ul>
      {{range .}}
      <li> {{.Name}}
        <ul>
          {{range .Stations}}
          <li> {{.}} </li>
          {{end}}
        </ul>
      </li>
      {{end}}
    </ul>

  </body>
</html>
